.cuestionario {
    font-family:Verdana;
    font-size: 14px;
    
}
.title {
    font-family:"Baskerville Old Face", Garamond; font-size: 45px; line-height: 30px; 
}

img {
width: 40%;}

.logo {
    display: inline-block;
    align-items: flex-start;
}

.mono {
    width: 400px;
    padding-bottom: 320px;
    align-items: flex-start;
}

.link {
    color: rgb(7, 161, 115);
}

::marker {
    color: rgb(7, 161, 115);
}
.cuestionario {
    width: 500px;
    display: inline-block;
}

.black {
    font-weight: bold;
}

.form {
    display: inline-block;
    font-weight: bold;
}

.listas {
    display: flex;
}
.lista1 { 
    flex: 1;
}

.lista2 { 
    flex: 1;
    align-items: flex-start;
}

.buttons {
    display: flex;
}
 
.sign {
    flex: 2;
    width: 10px;
    height: 50px;
}
.check {
    flex: 1;
    width: 20px;
    height: 20px;
    margin-top: 0px;
}
.texcheck {
    flex: 3;
    align-items: flex-start;
    margin-top: 0px;
}